* {
  margin: 0;
  max-width: 2560px;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #000;
  max-width: 2560px;
  margin: 0 auto;
}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.projects-list {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 2vh;
  max-width: 80vw;
  margin: 5vh auto;
  padding: 20px;
}

.home-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  gap: 2rem;

  /* Responsive: Empile les sections sur petits écrans */
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}
