.about-container {
  padding: 2.5rem;
  max-width: 60vw;
  background: linear-gradient(300deg, #f3f4f6, #ffffff8f);
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 5s ease;
  text-align: center;
  & img {
    border: 1px solid transparent;
    border-radius: 50%;
    margin-bottom: 3vh;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.6901960784);
  }
}

.about-title {
  font-size: 2.5rem;
  color: black;
  margin-bottom: 5vh;
  text-align: center;
  font-weight: 600;
  text-shadow: 4px 1px 10px rgba(255, 255, 255, 0.6901960784);
  @media (max-width: 425px) {
    font-size: 2rem;
  }
}

.about-paragraph {
  font-size: 1.2rem;
  line-height: 1.7;
  color: #444;
  margin-bottom: 1.5rem;
  text-align: justify;
  transition: color 0.3s ease, transform 0.3s ease;

  &:hover {
    color: #222;
    transform: translateX(5px);
  }
}

.highlight {
  font-size: 1.3rem;
  font-weight: 600;
  color: #0078d4;
  text-align: center;
  padding-top: 1rem;
  background: linear-gradient(90deg, #0078d4, #00b8d4);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
