.carousel3d-container {
  perspective: 1100px;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: radial-gradient(
    farthest-corner at 40px 40px,
    rgb(255, 255, 255) 0%,
    rgb(0, 5, 20) 90%
  );
}

.carousel3d {
  position: relative;
  width: 300px;
  height: 400px;
  transform-origin: center;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
}

.carousel3d-item {
  position: absolute;
  width: 250px;
  height: 350px;
  transform-origin: center;
  backface-visibility: visible;
  transition: all 1s ease, opacity 0.5s ease;

  /* Conteneur interne pour gérer l'animation de flottement */
  .card-content {
    position: relative;
    width: 100%;
    height: 100%;
    animation: floatingEffect 2s ease-in-out infinite;
  }

  a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    transition: all 1s ease;
    transform: scale(0.8); /* Mise à l’échelle par défaut */
  }

  /* Reflet sous l'image */
  a::after {
    content: "";
    position: absolute;
    top: 124%; /* Place le reflet juste sous l'image */
    left: -13%;
    width: 125%;
    height: 100%;
    background-image: var(--image-url);
    background-size: cover;
    background-position: center;
    filter: opacity(0.3) blur(3px); /* Transparence et flou pour le reflet */
    z-index: -1; /* Place le reflet derrière */
    border-radius: 8px; /* Respecte le radius de l'image principale */
    transition: transform 1s ease, opacity 1s ease; /* Transition fluide */
  }

  &:not(.active) {
    opacity: 1; /* Images non actives plus transparentes */

    a::after {
      transform: scaleY(-1) scale(0.8);
      top: 88%;
      left: 0%;
      width: 100%;
    }
  }

  &.active {
    opacity: 1;
    z-index: 1; /* Priorité sur les autres éléments */
    .card-content {
      animation: zoomingEffectActive 10.6s ease-in-out 1;
      transition: all ease-in-out;
    }
    a img {
      box-shadow: 0 0 30px rgb(190 234 255), 0 0 60px rgb(129 212 250);
      filter: brightness(1.1); /* Mise en lumière */
      transform: scale(1.05) rotateY(1turn) translateY(20px); /* Mise en avant légère */
    }
    a::after {
      transform: scaleY(-1) scale(0.82) rotateY(1turn); /* Le reflet suit le scale de l'image active */
      top: 102%;
    }
  }
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.4);
  }

  &.left {
    left: 20px;
  }

  &.right {
    right: 20px;
  }
}

/* Barre de progression */
.pagination-bar {
  position: absolute;
  bottom: 20px;
  width: 80%;
  height: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-segment {
  flex: 1;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  margin: 0 2px;
  transition: background 0.3s ease;
  border-radius: 150px 0;

  &.active {
    background: rgba(0, 255, 255, 0.8);
  }
}

@media (max-width: 1080px) {
  .carousel3d-container {
    height: 91vh;
  }

  .carousel3d {
    width: 250px;
    height: 350px;
  }

  .carousel3d-item {
    width: 200px;
    height: 300px;
  }
}

@media (max-width: 920px) {
  .carousel3d {
    width: 220px;
    height: 320px;
  }

  .carousel3d-item {
    width: 180px;
    height: 270px;
  }
}

@media (max-width: 830px) {
  .carousel3d {
    width: 200px;
    height: 300px;
  }

  .carousel3d-item {
    width: 180px;
    height: 250px;
  }
}

@media (max-width: 790px) {
  .carousel3d {
    width: 180px;
    height: 250px;
  }

  .carousel3d-item {
    width: 150px;
    height: 220px;
  }

  .carousel3d-item.active a img {
    transform: scale(1.2) rotateY(1turn);
  }
}

@media (max-width: 690px) {
  .carousel3d {
    width: 160px;
    height: 240px;
  }

  .carousel3d-item {
    width: 130px;
    height: 210px;
  }
}

@media (max-width: 576px) {
  .carousel3d {
    width: 140px;
    height: 220px;
  }

  .carousel3d-item {
    width: 120px;
    height: 180px;
  }
}

@media (max-width: 525px) {
  .carousel3d {
    width: 120px;
    height: 200px;
  }

  .carousel3d-item.active a img {
    transform: scale(1.35) rotateY(1turn);
  }
}

@media (max-width: 390px) {
  .carousel3d {
    width: 120px;
    height: 180px;
  }

  .carousel3d-item {
    width: 100px;
    height: 150px;
  }

  .carousel3d-item.active a img {
    transform: scale(1.5) rotateY(1turn);
  }
}

/* Animation de flottement */
@keyframes floatingEffect {
  0% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(1px);
  }
}

/* Animation de flottement de la carte active */
@keyframes zoomingEffectActive {
  0% {
    transform: perspective(150px) translateZ(-190px);
  }
  20% {
    transform: perspective(150px) translateZ(10px);
  }
  90% {
    transform: perspective(150px) translateZ(0px);
  }
  100% {
    transform: perspective(150px) translateZ(-25px);
  }
}
