.carousel-container {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
}

.carousel {
  height: 100vh;
  display: flex;
  overflow-x: auto; /* Permet le défilement horizontal */
  overflow-y: hidden; /* Bloque le défilement vertical */
  scroll-behavior: smooth; /* Rend le défilement fluide */
}

.carousel-item {
  flex-shrink: 0;
  width: 40vw; /* Largeur de chaque image */
  min-width: 40vw;
  height: 100vh;
  filter: brightness(75%); /* Effet sombre par défaut */
  scroll-snap-align: start; /* Ancre chaque élément au début lors du scroll */
  animation: scrollLeft 40s linear infinite;
  transition: all 0.5s ease;
}

.carousel-item.lighten {
  margin: 0 2vw;
  filter: brightness(110%); /* Éclaircissement au survol */
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

/* Masque la barre de défilement */
.carousel::-webkit-scrollbar {
  display: none;
}

/* Animation de défilement infini sans saut */
@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 1440px) {
  .carousel-item {
    flex-shrink: 0;
    width: 80vw;
    height: 100%;
    filter: brightness(75%);
    scroll-snap-align: start; /* Ancre chaque élément au début lors du scroll */
    animation: scrollLeft 40s linear infinite;
    transition: all 0.5s ease;
  }
}

@media (max-width: 768px) {
  .carousel-container {
    width: 100%;
    height: 80vh;
  }

  .carousel {
    display: flex;
    flex-direction: column;
    overflow-x: hidden; /* Permet le défilement horizontal */
    overflow-y: auto; /* Bloque le défilement vertical */
    scroll-behavior: smooth; /* Rend le défilement fluide */
  }

  .carousel-item {
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    filter: brightness(75%);
    scroll-snap-align: start; /* Ancre chaque élément au début lors du scroll */
    animation: scrollTop 40s linear infinite;
    transition: all 0.5s ease;
  }

  .carousel-item.lighten {
    margin: 3vh 0;
    filter: brightness(110%); /* Éclaircissement au survol */
  }

  @keyframes scrollTop {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
}

@media (max-width: 653px) {
  .carousel-container {
    height: 75vh;
  }
  .carousel-item {
    height: 70vh;
  }
}

@media (max-width: 571px) {
  .carousel-container {
    height: 75vh;
  }
  .carousel-item {
    height: 55vh;
  }
  .carousel-item.lighten {
    margin: 2vh 0;
  }
}
