.footer {
  background: rgb(42, 42, 42);
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.logoContainer {
  display: flex;
  justify-content: center;
  gap: 2vw;
  flex-wrap: wrap;
}

.logo {
  width: 50px;
  height: 50px;
  box-shadow: 0 0 8px white;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  border: 2px solid transparent;

  &:hover {
    box-shadow: 0 0 8px 3px white;
    transform: rotateZ(1turn) scale(1.2);
  }
}

.socialLinks {
  margin-top: 20px;
}

.link {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
